@import url(//db.onlinewebfonts.com/c/21a8cc39125a481602fba1dc80af6620?family=Guess-ital);
@import url(//db.onlinewebfonts.com/c/76b8d17a5fe9c590fc35aefac5f08d33?family=Guess-bold);

html,body {
    height: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: black;
}

@font-face {font-family: "Guess-bold";
    src: url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.eot");
    src: url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/76b8d17a5fe9c590fc35aefac5f08d33.svg#Didot") format("svg");
}

@font-face {font-family: "Guess-ital";
    src: url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.eot");
    src: url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/21a8cc39125a481602fba1dc80af6620.svg#Didot") format("svg");
}

.container {
    position: relative;
    background-image: url("../img/bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.container-inside {
    position: relative;
    margin: 100px;
    margin-top: -20px;
    text-align: center;
    
}

.overlap {
    position: relative;
    width: 404px;
    height: 393px;
    margin: auto;
    margin-top: 180px;
    z-index: 0;
}

.container .container-inside .typography {
    background: url('../img/typo.png') no-repeat top right;
    pointer-events: none;
    background: url(../img/typo.png);
    width: 191px;
    top: 0px;
    height: 570px;
    position: absolute;
    z-index: 2;
    margin-top: -120px;
    margin-left: -28%

}

.logo {
    background: url('../img/comfy%20but%20sad.png') no-repeat center;
    background-size: contain;
    width: 404px;
    height: 393px;
    margin: auto;
    z-index: 1;
    position: absolute
    
    
}

li{
    font-family: 'Guess-bold', 'serif';
    text-decoration: none;
    display: inline;
    color: white;
    padding-left: 1px;
    padding-right: 1px;
    
}

ul {
    
    text-align: center

}

.pages {

    margin-right: 45px;

   
    
}


a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.5px
}

.footer {
    font-family: 'Guess-ital', 'serif';
    color: #fff;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;

    
